<h3>List of Heroes</h3>
<ul class="heroes">
    <div *ngFor="let hero of heroes" [class.selected]="hero === selectedHero">
        <li routerLink="/details/{{hero.id}}">
            <span class="badge">{{hero.id}}</span>
            {{hero.name}}
        </li>
        <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </div>
</ul>
<div>
    <label for="name">
        Name:
    </label>
    <input #heroName>
    <button (click)="add(heroName.value); heroName.value=''">Create new hero</button>
</div>